version: 2

jobs:
  daily:

    docker:
      - image: circleci/node:8
      - image: redis

    steps:
      - checkout

      - run:
          name: Install root dependencies
          command: npm ci

      - run:
          name: Install shields
          command: npm run install-shields

      - run:
          name: Run tests
          environment:
            mocha_reporter: mocha-junit-reporter
            MOCHA_FILE: junit/app/results.xml
          command: npm run coverage:test
          when: always
      
      - run:
          name: Run service tests
          environment:
            mocha_reporter: mocha-junit-reporter
            MOCHA_FILE: junit/services/results.xml
          command: npm run coverage:services
          when: always

      - run:
          name: Send to coveralls.io
          command: npm run coveralls
          when: always

      - store_test_results:
          path: junit

workflows:
  version: 2

  daily:
    triggers:
      - schedule:
          cron: '45 3,15 * * *'
          filters:
            branches:
              only: master
    jobs:
      - daily

  on-commit:
    jobs:
      - daily
