version: 2

jobs:
  daily:

    docker:
      - image: circleci/node:8
      - image: redis

    steps:
      - checkout

      - run:
          name: Install root dependencies
          command: npm ci

      - run:
          name: Install shields
          command: npm run install-shields

      - run:
          name: Prepare GitHub integration
          command: |
            mkdir shields/private
            echo "{\"gh_token\":\"$GITHUB_TOKEN\"}" > shields/private/secret.json

      - run:
          name: Run tests
          command: npm run coverage:test

      - run:
          name: Send to coveralls.io
          command: npm run coveralls
          when: always

workflows:
  version: 2

  daily:
    triggers:
      - schedule:
          cron: '45 3 * * *'
          filters:
            branches:
              only: master
    jobs:
      - daily
